/***************************
Astra Schedule 7 base css document
---------------------------------------

Custom Theme Template

****************************/
/* UofM Header Logo */
.ApplicationLogo {
  width: 380px;  /* 206px; */
  height: 68px;  /* 43px;  */
  background-image: url(images/uofm_wdmk_D2D.gif);
}

/* Astra footer logo */
.ApplicationFooterLogo {
  width: 272px;
  height: 25px;
  background-image: url(images/umn_footerAstraLogo.jpg);
}

/* BEGIN 316293 to 7a0019 */
.Header
{
    background-image: url(images/umn_repeater_header.gif);
    background-color: #7a0019;
}
.TopNav, .Footer, .TabNavigation
{
  background-color: #7a0019;
}
.Title, .CrumbBar .ControlButton, .WizardInnerFormLegend
{
    color: #7a0019;
}
.list-item
{
    background-color: #ddecf1;
    color: #7a0019;
    border-color: #B1BBBF;
}
div.erfSection h3
{
    color: #7a0019;
}
div#Master_MainContentPlaceHolder_EventRequestFormGroup_panelDesignerFields div.list-item
{
    background-color: #dde2f1;
    color: #7a0019;
}
/* END 316293 to 7a0019 */

/* BEGIN B5C7EC to FFCC33 */
.Header .Utilities a, .Footer .Utilities a, .LoginHeader Label
{
    color: #FFCC33;
}
/* END B5C7EC to FFCC33 */

/* BEGIN 555577 to ?????? */
.TabNavigation a /** the individual tabs **/
{
    color: #555577;
    /* background-image: url(images/tab-repeater.gif); */
}
/* END 555577 to ?????? */

/* BEGIN 1C4976 to 900021 */
.ModalPanel, .OptimizerStatusModalPanel, .ModalPanelCrosslist
{
    border: 1px solid #900021;
}
.TinyModalPanel
{
   border:1px solid #900021;
}
.MessageModalPanel
{
    border:1px solid #900021;
    border-top:20px solid #900021;
}
.OptimizerStatusModalPanel
{
    border:1px solid #900021;
    border-top:20px solid #900021;
}
.PartTitle
{
    background:#900021;
}
.CatalogHeader, .ModalHeader
{
    background:#900021;
}
table.CatalogHeader tr td
{
    background:#900021;
}
/* END 1C4976 to 900021 */

/* BEGIN 0d3e63 to 5b0013 */
b
{
    color: #5b0013;
}
/* END 0d3e63 to 5b0013 */

/* BEGIN 347ebf to XXXXXX not currently modified */
a,
.PrefListGrid .ColumnHead a,
.ListGrid .ColumnHead a:hover, 
.PrefListGrid .ColumnHead a:hover, 
.QuickListGrid .ColumnHead a:hover,
.FormGroup .Legend .HelpAnchor,
.LeftNav .FormGroup .Legend .Title, 
.LeftNav .FormGroup .FormGroupFixed .Legend .Title,
.FormGroup .MoreHeader, 
.GridHyperLink-ASPxtoEXT
{
    color: #347ebf;
}
.PrefListGrid .ColumnHead th, .PrefListGrid .ColumnHead td, .QuickListGrid .ColumnHead td
{
    background-color: #eaeced;
    color: #347ebf;
}

/*** FormGroupTab: for tabbed FormGroups, tends to be within an existing FormGroup ***/
.FormGroupTabSet
{
    border-left: 1px solid #347ebf;
    border-bottom: 1px solid #347ebf;
}
.FormGroupTabLegend, .FormGroupTabLegendSelected
{
    border-top: 1px solid #347ebf;
    border-right: 1px solid #347ebf;
    border-bottom: 1px solid #347ebf;
    background-color: #d0d0e0;
}
.LeftNav .FormGroup .Legend, .LeftNav .FormGroupFixed .Legend
{
    background-color: #f7f7f7;
    border-bottom: solid 1px #347ebf;
}
/* END 347ebf to 347ebf */



/* BEGIN 336699 to 900021 */
legend.display
{
	color:#900021;
}
.LeftNav .SubNav, .LeftNav .SubNavCollapsed
{
    background: #900021 url(../images/ArrowExpand.gif) no-repeat top right;
}
.FormGroup .Legend
{
    background: #900021;
}
.ControlButtonBlue
{
    color: #ffffff;
    background: #900021 url(../images/ButtonBGBlue.gif) bottom;
    border:1px solid #204161;
}
.ControlButtonBlue:hover
{
    color: #ffffff;
    background: #900021 url(../images/ButtonDownBGBlue.gif);
}
.Wizard .FormGroup .Legend
{
	background:#900021;  
}
.Wizard .FormGroup .Legend:hover
{
	background:#900021;
}
.SplashGuide .SplashGroupTitle
{
    color: #ffffff;
    background:#900021;
    border:1px solid #cccccc;
}
.ModalPanelHeader
{
	background:#900021;	
	color:#ffffff;
}
/* Removed as it didn't mesh well with the blue portion of the calendar background
.CalendarWrapper 
{
	background:#900021 url(images/Calendar/CalendarBackground.gif) repeat-x top;
	border:1px solid #900021;
}
*/
#CalGridView .GridFrame
{
    background:#900021;
}
table.main .WizardButton
{
    background: #900021 url(../images/ButtonBGBlue.gif);  /* add ../ to bump back to default image directory */
    border: 1px solid #000000;
}
.TextControlButton
{
    background: url("images/ButtonBGlightgrey.gif") repeat-x scroll center bottom #900021;
    border: 1px solid #BDBDBD;
    color: #000000;
}
.FormGroup .Legend
{
    color: #FFDE7A;  /* was #083e6a; */
    background: #900021;
}
.LeftNav .SubNav, .LeftNav .SubNavCollapsed
{
    background: #900021 url(../images/ArrowExpand.gif) no-repeat top right; /* add ../ to bump back to default image directory */
}
/* END 336699 to 900021 */

/* BEGIN 476f8d to ffde7a */
.Header .Utilities .break
{
    color: #ffde7a;
}
/* END 476f8d to ffde7a */